name: eventify
description: >
  Eventify ist eine innovative Event-Management-App, die es Nutzern ermöglicht, Veranstaltungen mühelos zu erstellen, zu verwalten und zu teilen.

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.0.5
  firebase_core: ^2.4.1
  firebase_auth: ^4.3.0
  cloud_firestore: ^4.5.0
  firebase_messaging: ^14.3.0
  google_maps_flutter: ^2.2.5
  flutter_local_notifications: ^13.0.0
  url_launcher: ^6.1.7
  image_picker: ^1.0.0
  flutter_chat_ui: ^1.0.0
  intl: ^0.18.0
  stripe_payment: ^1.0.11

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/

  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto-Regular.ttf
        - asset: fonts/Roboto-Bold.ttf
          weight: 700